#education {
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
  padding: 80px 0;
}

#education h5 {
  font-size: 16px;
}

#education h2 {
  font-size: 36px;
  color: #0d6efd;
  position: relative;
  display: inline-block;
}

#education h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0d6efd;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: scaleX(0);
  animation: magicLine 2s ease-in-out infinite;
}

@keyframes magicLine {
  0%, 100% {
      transform: scaleX(0);
  }
  50% {
      transform: scaleX(1);
  }
}

.education__container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.education__content {
  flex: 1;
  text-align: center;
  margin-left: 20px;
}

.education__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center; 
}

.education__card {
  background-color: var(--color-bg-varient);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.8s ease, background-color 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.education__card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #0d6efd;
}

.education__card:hover h5,
.education__card:hover small {
  color: black; 
}


.education__icon {
  font-size: 36px;
  margin-bottom: 10px;
  color: #ffffff;
}

.education__card h5 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

.education__card small {
  font-size: 14px;
  color: #ccc;
}
