.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons small {
    color: white;
    text-decoration: none;
  }
  